:root{
    background-color: #141414;
    background-color: #1b1b1b;
}

body{
    background-color: #141414;
    color: white;
}
.navbar{
    border-bottom:solid 3px #141414 ;
    opacity: 0.785;
}
.navbar-brand{
    font-size: 1.5rem;
}
.nav-link{
    font-size: 1.2rem;
}
#home{
    /*background-image: url(../img/brick.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}
#home .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(163, 32, 32, 0.5),rgba(0, 128, 0, 0.5));*/
}
#home .home-content{
    padding-top: 150px;
}